<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <title>Hola mundo con Vue.js</title>
</head>

<body>

  <div id="app">

    <h1>{{titulo}}</h1>
    <input type="text" v-model="nuevaFruta">
    <button @click="agregarFruta">Agregar</button>
    <ul>
      <li v-for="fruta of frutas">
        {{fruta.cantidad}} - {{fruta.nombre}}
        <span v-if="fruta.cantidad === 0"> - Sin Stock</span>
      </li>
    </ul>

  </div>

  <div id='barProgress' class='container mt-5'>
    <div class='text-primary text-center'>
      <h1>Barra de progreso</h1>
      <i class="fas fa-clock"></i>
    </div>
    <div class='row text-primary'>
      <div class='col-6'>Contador</div>
      <div id='contador' class='col-6'>{{dpProgress}}%</div>
    </div>
    <div class="progress mt-5">
      <div id='progreso' ref='progreso' role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
        {{dpProgress}}%
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <h1>Directiva v-show</h1>
    <div class="row">
      <div id='app2a' v-text='pdMensaje' v-show='pdMostrar'></div>
      <br>
      <h1>Directiva v-if</h1>

      <div id='app2' v-text='pdMensaje' v-if='pdMostrar'></div>
    </div>
  </div>
  <div id='horarios'>
    <div><a href='#'>Horarios</a></div>
    <template v-if='pdMostrar'>
      <div>Lunes 8:00am a 6:00pm</div>
      <div>Martes 8:00am a 6:00pm</div>
      <div>Miércoles 8:00am a 6:00pm</div>
      <div>Jueves 8:00am a 6:00pm</div>
      <div>Viernes 8:00am a 6:00pm</div>
      <div>Sábado 8:00am a 4:00pm</div>
      <div>Domingo 8:00am a 1:00pm</div>
    </template>
  </div>
  <div>
    <h1>Directiva v-model</h1>
    <div id='seleccion' class='ml-4 my-4'>
      <select v-model='pdSelected'>
        <option disabled value="" selected>Seleccione un deporte</option>
        <option>Fútbol</option>
        <option>Béisbol</option>
        <option>Golf</option>
        <option>Baloncesto</option>
        <option>Tenis</option>
      </select>
      <p v-if='pdSelected'>El deporte seleccionado es: {{pdSelected}}</p>
    </div>
  </div>
  <div>
    <div id='seleccionq' class='ml-4 my-4'>
      <select v-model='pdSelected'>
        <option disabled value="" selected>Seleccione un deporte</option>
        <option v-for='deporte in pdDeportes' v-text='deporte'></option>
      </select>
      <p v-if='pdSelected'>El deporte seleccionado es: {{pdSelected}}</p>
    </div>
  </div>

  <div class="container-fluid p-3 my-3 bg-dark text-white">
    <div class="row">
      <h1>Directivas en Vue</h1>
    </div>

    <div class="row bg-primary">
      <div class="col-6 col-md-4">

        <div id='appa' v-text='pdMensajee'></div>
      </div>
      <div class="col-6 col-md-4">
        <div id='appez' v-text='pdMensajez' v-once></div>
      </div>
      <div class="col-6 col-md-4 my-3">
        <p>
          v-once
        </p>
        <div id='apponce' v-text='pdMensaje' v-once></div>
      </div>
    </div>
    <div class="row bg-success">
      <div class="col-6 col-md-4">
        v-html
        <div id='htmlTag' v-html='htmlElement'></div>
      </div>
      <div class="col-6 col-md-4">
        <h4>v-bind</h4>
        <div id='htmlAttr'>
          <a v-bind:href='twitterAddr' target='_blank'>
            <img v-bind:src='iconAddr' width='50px' />
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 my-3">
        <div id='barProgressz' class="progress m-2">
          <div v-bind:class="dpProgress < 50 ? 'progress-bar bg-danger' : 'progress-bar bg-primary'" role="progressbar"
            v-bind:style="'width: '+dpProgress+'%'" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            {{dpProgress}}%
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-warning">
      <div class="col-12 col-md-12">
        <h2>Usando las directivas en VUE</h2>
        <div id='login'>
          <div v-if='!logon' class='container my-3 border rounded' style='width:350px'>
            <div class='row'>
              <div class='col-12 text-center'>
                <h3>{{pdTitulo}}</h3>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">{{pdCampo1}}</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="pt-2 px-3 input-group-addon bg-info">
                    <i class="fa fa-envelope fa" aria-hidden="true"></i>
                  </span>
                  <input v-model='pdEmail' type="text" class="form-control" v-bind:placeholder='pdCampo1' />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label" v-text='pdCampo2'></label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="pt-2 px-3 input-group-addon bg-info">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control" :placeholder="'Ingrese la '+pdCampo2" />
                </div>
              </div>
            </div>
            <div class="form-group ">
              <button type="button" class="btn btn-primary">Ingresar</button>
            </div>
          </div>
          <div v-else>
            <div class='text-center'>
              <h2>Bienvenido al Sistema</h2>
            </div>
            <div class='text-center'>Hola usuario: {{pdEmail}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
      <div class="col-12 col-md-12">
        <div id='crono' class='container border rounded mt-2' style='width:600px; font-size:60px'>
          <div class='row'>
            <div class='col-12 border rounded text-primary text-center'>
              <h2>Cronómetro</h2>
            </div>
          </div>
          <div class='row'>
            <div v-bind:class='"col-12 text-center text-"+textColor'>
              {{pdHoras}}:{{pdMinutos}}:{{pdSegundos}}.{{100-(pdTiempo*10)}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
      <div class="col-6 col-md-4">
        <h4>Directivas condicionales</h4>
        <h5>Directiva v-show</h5>
        <hr>
        <div id='appxa' v-text='pdMensaje' v-show='pdMostrar'></div>
        <hr>
      </div>
      <div class="col-6 col-md-4 border border-primary">
        <h5>Directiva v-if</h5>
        <hr>
        <div class="border border-primary" id='appda' v-text='pdMensaje' v-if='pdMostrar'></div>
        <hr>
        <h5>Directiva v-else</h5>
        <div id='seleccionz' class='ml-4 my-4'>
          <select v-model='pdSelected'>
            <hr>
            <option disabled value="" selected>Seleccione un deporte</option>
            <option>Fútbol</option>
            <option>Béisbol</option>
            <option>Golf</option>
            <option>Baloncesto</option>
            <option>Tenis</option>
          </select>
          <p v-if='pdSelected'>El deporte seleccionado es: {{pdSelected}}</p>
          <hr>
        </div>
        <h5>Directiva v-for</h5>
        <div id='seleccionfor' class='ml-4 my-4'>
          <select v-model='pdSelected'>
            <option disabled value="" selected>Seleccione un deporte</option>
            <option v-for='deporte in pdDeportes' v-text='deporte'></option>
          </select>
          <p v-if='pdSelected'>El deporte seleccionado es: {{pdSelected}}</p>
        </div>

      </div>
      <div class="col-6 col-md-4 border border-primary my-4">
        <div id='horarioss'>
          <div><a href='#'>Horarios</a></div>
          <template v-if='pdMostrar'>
            <div>Lunes 8:00am a 6:00pm</div>
            <div>Martes 8:00am a 6:00pm</div>
            <div>Miércoles 8:00am a 6:00pm</div>
            <div>Jueves 8:00am a 6:00pm</div>
            <div>Viernes 8:00am a 6:00pm</div>
            <div>Sábado 8:00am a 4:00pm</div>
            <div>Domingo 8:00am a 1:00pm</div>
          </template>
        </div>

      </div>
    </div>
    <div class="row" style="background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
      <div class="col-12 col-md-12">
        <h1 class="text-center">Eventos y componentes</h1>
        <div class="row">
          <div id='contadora' class='container border rounded mt-2' style='width:400px; font-size:80px'>
            <div class='row'>
              <div class='col-12 border rounded text-primary text-center'>
                <h2>Contador</h2>
              </div>
            </div>
            <div class='row'>
              <div class='col-3'>
                <span id='minus' class='fa fa-minus-square' v-on:click='cantidad--'></span>
              </div>
              <div class='col-6 text-center text-primary'>
                {{cantidad}}
              </div>
              <div class='col-3'>
                <span id='plus' class='fa fa-plus-square' @click='cantidad++'></span>
              </div>
            </div>

          </div>
        </div>
        <!-- Cronomeetro -->
        <div class="row">
          <div id='cronno' class='container border rounded mt-2' style='width:600px; font-size:60px'>
            <div class='row'>
              <div class='col-12 border rounded text-primary text-center'>
                <h2>Cronómetro</h2>
              </div>
            </div>
            <div class='row'>
              <div class='col-3'>
                <span id='iniciar' class='fa fa-play-circle' v-on:click.prevent='manejoClick($event)'></span>
              </div>
              <div class='col-6 text-center text-primary'>
                {{pdHoras}}:{{pdMinutos}}:{{pdSegundos}}.{{pdTiempo*10}}
              </div>
              <div class='col-3 text-right'>
                <span id='detener' class='fa fa-stop-circle' v-on:click.prevent='manejoClick($event)'></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row" style="background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ">
      <div class="col-12 col-md-12">
        <h1 class="text-center">
          Modificadores de eventos
        </h1>
        <div id='loginn'>
          <div v-if='!logon' class='container my-3 border rounded' style='width:350px'>
            <div class='row'>
              <div class='col-12 text-center'>
                <h3>{{pdTitulo}}</h3>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">
                {{pdCampo1}}
              </label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="pt-2 px-3 input-group-addon bg-info">
                    <i class="fa fa-envelope fa" aria-hidden="true"></i>
                  </span>
                  <input v-model='pdEmail' type="email" class="form-control" ref='pdEmail' id='pdEmail'
                    v-bind:placeholder='pdCampo1' v-on:keyup.enter="changeFocus($event)" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label" v-text='pdCampo2'></label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="pt-2 px-3 input-group-addon bg-info">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input v-model='pdPass' type="password" class="form-control" ref='pdPass' id='pdPass'
                    :placeholder="'Ingrese la '+pdCampo2" v-on:keyup.enter='changeFocus($event)' />
                </div>
              </div>
            </div>
            <div class="form-group ">
              <button type="button" class="btn btn-primary" id='btnIngresar' ref='btnIngresar'
                v-on:click='validateLogin'>Ingresar</button>
            </div>
          </div>
          <div v-else>
            <div class='text-center'>
              <h2>Bienvenido al Sistema</h2>
            </div>
            <div class='text-center'>Hola usuario: {{pdEmail}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ">
      <div class="col-12 col-md-12">
        <div id='cronos' class='container border rounded mt-2'>
          <div class='row'>
            <div class='col-12 border rounded text-primary text-center'>
              <h2>Cronómetro</h2>
            </div>
          </div>
          <div class='row border rounded'>
            <div class='col-6 text-primary text-left'>
              <h4>Tiempo Inicial</h4>
            </div>
            <div class='col-6 text-primary'>
              <h5><input v-model='valorInicial' class='textBox mt-1 text-primary' type='text' id='tiempo'
                  v-on:keyup.enter='manejoTeclado($event)'></h5>
            </div>
          </div>
          <div class='row' style='font-size:60px'>
            <div class='col-2 text-primary'>
              <span id='iniciar' class='btn fa fa-play-circle' v-on:click='manejoClick($event)'></span>
            </div>
            <div v-bind:class='"col-8 text-center text-"+textColor'>
              {{pdHoras}}:{{pdMinutos}}:{{pdSegundos}}.{{100-(pdTiempo*10)}}
            </div>
            <div id='detener' class='col-2 text-primary'>
              <span id='detener' class='btn fa fa-pause-circle' @click='manejoClick($event)'></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ">
      <div class="col-12 col-md-12">
        <h1 class="text-center">Validaciones en el manejo de eventos</h1>
        <div id='logini'>
          <div v-if='!logon' class='container my-3 border rounded' style='width:350px'>
            <div class='row'>
              <div class='col-12 text-center'>
                <h3>{{pdTitulo}}</h3>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">
                {{pdCampo1}}</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="pt-2 px-3 input-group-addon bg-info">
                    <i class="fa fa-envelope fa" aria-hidden="true"></i>
                  </span>
                  <input v-model='pdEmail' type="email" v-bind:class="'form-control ' + valid" ref='pdEmail'
                    id='pdEmail' v-bind:placeholder='pdCampo1' v-on:keyup.enter="changeFocus($event)"
                    v-on:change='manejaChange($event)' />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label" v-text='pdCampo2'></label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="pt-2 px-3 input-group-addon bg-info">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input v-model='pdPass' type="password" class="form-control" ref='pdPass' id='pdPass'
                    :placeholder="'Ingrese la '+pdCampo2" v-on:keyup.enter='changeFocus($event)' />
                </div>
              </div>
            </div>
            <div class="form-group ">
              <button type="button" class="btn btn-primary" id='btnIngresar' ref='btnIngresar'
                v-on:click='validateLogin'>Ingresar</button>
            </div>
          </div>
          <div v-else>
            <div class='text-center'>
              <h2>Bienvenido al Sistema</h2>
            </div>
            <div class='text-center'>Hola usuario: {{pdEmail}}</div>
          </div>
        </div>

      </div>
    </div>
    <div class="row" style="background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ">
      <div class="col-12 col-md-12">
        <div id='cronoxz' class='container border rounded mt-2'>
          <div class='row'>
            <div class='col-12 border rounded text-primary text-center'>
              <h2>Cronómetro</h2>
            </div>
          </div>
          <div class='row border rounded'>
            <div class='col-6 text-primary text-left'>
              <h4>Tiempo Inicial</h4>
            </div>
            <div class='col-6 text-primary'>
              <h5><input v-model='valorInicial' v-bind:class="'textBox mt-1 text-primary form-control '+valido"
                  type='text' id='tiempo' v-on:keyup.enter='manejoTeclado($event)'></h5>
              <small v-if="valido==='is-invalid'" class="text-muted">
                El tiempo inicial debe ser numérico.
              </small>
            </div>
          </div>
          <div class='row' style='font-size:60px'>
            <div class='col-2 text-primary'>
              <span id='iniciar' class='btn fa fa-play-circle' v-on:click='manejoClick($event)'></span>
            </div>
            <div v-bind:class='"col-8 text-center text-"+textColor'>
              {{pdHoras}}:{{pdMinutos}}:{{pdSegundos}}.{{100-(pdTiempo*10)}}
            </div>
            <div id='detener' class='col-2 text-primary'>
              <span id='detener' class='btn fa fa-pause-circle' @click='manejoClick($event)'></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row " style="background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ">
    <div class="col-md-12">
      <h1 class=" text-primary text-center"> Creando componentes en Vue</h1>
      <div id='appqa' class='container border rounded mt-2'>
        <div class='row h3'>
          <div class='col-12'>
            Lista de tareas
          </div>
        </div>
        <div class='row h3'>
          <div class='col-1'>
            #
          </div>
          <div class='col-9'>
            Tareas
          </div>
          <div class='col-2 text-center'>
            Acción
          </div>
        </div>
        <tarea-component v-for='n in 5'></tarea-component>
      </div>
      <template id='tarea'>
        <div class='row mt-2'>
          <div class='col-1 h4'>
            {{numero}}
          </div>
          <div class='col-9 h4'>
            {{tarea}}
          </div>
          <div class='col-2 text-center'>
            <span v-bind:class='"btn btn-primary "+agregar'></span>
            <span v-bind:class='"btn btn-primary "+eliminar'></span>
          </div>
        </div>
      </template>
    </div>
  </div>
  <div class="row">
    <div id='appv' class='container'>
      <div class='text-primary'>
        <h1>Lista de libros a leer</h1>
      </div>
      <div class='row border rounded text-primary lead p-2 mt-3'>
        <div class='col-2'>
          Nombre del libro
        </div>
        <div class='col-3'>
          <input v-model='nombreLibro' class='text-primary' type='text'>
        </div>
        <div class='col-2'>
          Autor del libro
        </div>
        <div class='col-3'>
          <input v-model='autorLibro' class='text-primary' type='text'>
        </div>
        <div class='col-2'>
          <div id='agregar' class='btn btn-primary' v-on:click='manejarClick($event)'>Agregar Libro</div>
        </div>
      </div>
      <div class='container border rounded text-primary mt-4'>
        <div class='row lead border rounded font-weight-bold'>
          <div class='col-6'>
            Nombre del Libro
          </div>
          <div class='col-6'>
            Autor del Libro
          </div>
        </div>
        <libros-componente v-for="(libro,index) in libros" v-bind:libro='libro'></libros-componente>
      </div>
    </div>


    <template id='libro'>
      <div class='row lead'>
        <div class='col-6'>{{libro.nombre}}</div>
        <div class='col-6'>{{libro.autor}}</div>
      </div>
    </template>

  </div>
  <div class="row">
    <div id='appt' class='container border rounded mt-2'>
      <div class='row h3'>
        <div class='col-12'>
          Lista de tareas
        </div>
      </div>
      <div class='row h3'>
        <div class='col-1'>
          #
        </div>
        <div class='col-9'>
          Tareas
        </div>
        <div class='col-2 text-center'>
          Acción
        </div>
      </div>

      <tarea-component v-for="(task, index) in tasks" v-bind:numero='index+1' v-bind:tarea='task'>
      </tarea-component>
    </div>

    <template id='tarea'>
      <div class='row mt-2'>
        <div class='col-1 h4'>
          {{numero}}
        </div>
        <div class='col-9 h4'>
          {{tarea}}
        </div>
        <div class='col-2 text-center'>
          <span v-bind:class=["btn","btn-primary",agregar]>
          </span>
          <span v-bind:class=["btn","btn-primary",eliminar]>
          </span>
        </div>
      </div>
    </template>
  </div>

  <div class="row" style="background-color: #0f9b0f;">

    <div id='appp' class='container border rounded mt-2'>
      <div class='row h4'>
        <div class='col-12'>
          Lista de tareas
        </div>
      </div>
      <div class='row h4'>
        <div class='col-1'>
          #
        </div>
        <div class='col-4'>
          Tareas
        </div>
        <div class='col-5'>
          Avance
        </div>
        <div class='col-2 text-center'>
          Acción
        </div>
      </div>

      <tarea-component v-for="(task, index) in tasks"
       v-bind:numero='index+1' v-bind:tarea='task.nombre'
        v-bind:avance='task.avance'>
      </tarea-component>
    </div>
    <template id='tareaa'>
      <div class='row mt-2'>
        <div class='col-1 h6'>
          {{numero}}
        </div>
        <div class='col-4 h6'>
          {{tarea}}
        </div>
        <div class='col-5 h6'>
          <avance-componentt
           v-bind:progreso='avance'>
         </avance-componentt>
        </div>
        <div class='col-2 text-center'>
          <span v-bind:class=["btn","btn-primary",agregar]>aggg</span>
          <span v-bind:class=["btn","btn-primary",eliminar]></span>
        </div>
      </div>
    </template>

    <template id='avancee'>
      <div class="progress">
        <div class="progress-bar" role="progressbar" v-bind:style='"width: "+progreso+"%"' aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">{{progreso}}%
        </div>
      </div>
    </template>
  </div>
<!-- Solución -->
  <div class="row">
    <h1>Solución</h1>
    <div id='apps' class='container'>
      <div class='text-primary'>
        <h1>Lista de libros a leer</h1>
      </div>
      <div class='row border rounded text-primary lead p-2 mt-3'>
        <div class='col-2'>
          Nombre del libro
        </div>
        <div class='col-3'>
          <input v-model='nombreLibro' class='text-primary' type='text'>
        </div>
        <div class='col-2'>
          Autor del libro
        </div>
        <div class='col-3'>
          <input v-model='autorLibro' class='text-primary' type='text'>
        </div>
        <div class='col-2'>
          <div id='agregar' class='btn btn-primary' v-on:click='manejarClick($event)'>Agregar Libro</div>
        </div>
      </div>
      <div class='container border rounded text-primary mt-4'>
        <div class='row lead border rounded font-weight-bold'>
          <div class='col-6'>
            Nombre del Libro
          </div>
          <div class='col-6'>
            Autor del Libro
          </div>
        </div>
        <libros-componente v-for="(libro,index) in libros"
         v-bind:libro='libro' v-bind:indice='index'>
        </libros-componente>
      </div>
    </div>

    <template id='libroy'>
      <div class='row lead my-1'>
        <div class='col-6'>{{libro.nombre}}</div>
        <div class='col-4'>{{libro.autor}}</div>

        <div class='col-2'>
          <div id='eliminarr' class='btn btn-primary' v-on:click='manejarClick($event)'>Eliminar</div>
        </div>
      </div>
    </template>



  </div>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>

</html>
